body {
  padding-top: 30px;
  background-color: #dddddd;
  font-family: Helvetica, Sans-serif;
  font-size: 10pt;
  margin: 10px;
}

#nav {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #222222;
}

#nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

#nav ul li {
  display: inline;
  margin-right: 10px;
}

#nav a {
  color: #eeeeee;
  text-decoration: none;
  font-weight: bold;
}
#nav a.current {
  border-bottom: solid 3px #eeeeee;
}

#content {
  text-align: center;
  color: #222222;
  padding-top: 30px;
}

#content a {
  color: #222222;
  text-decoration: none;
}

